<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Form</title>
    
</head>
<body>
      <h2>Enter Pokemon Name</h2>
      <form action="/pokemon" method="POST">
        {{ form.hidden_tag() }}

          <label for="pokemon_name">Pokemon Name:</label>
          <input type="text" id="pokemon_name" name="pokemon_name" required>
          <button type="submit">Get Pokemon Data</button></h1>
    
    
</body>
</html>
